fastapi
faster-whisper
httpx
joblib
jupyter
lightgbm
matplotlib
numpy
pandas
psycopg2-binary
pydantic
pytest
python-dotenv
python-multipart
scikit-learn
seaborn
sentence-transformers
shap
sqlalchemy
torch
uvicorn[standard]
xgboost